.contactContainer{
    width: 100%;
    min-height: max-content;
    /* background-image: linear-gradient(to right bottom, #E2E8D3, #e2e8d4); */
    background-color: #fff;
    padding: 25px 0;
}

#contactTitle{
    font-size: 3rem;
    padding: 10px 0;
    color: orange;
    text-shadow: 1px 1px #3c3c3c;
    text-decoration: underline;
    text-underline-offset: 8px;


    text-align: center;
}

.contactInfo{
    width: 80%;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contactBox{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
}

.contactForm, .contactLocation{
    width: 45%;
    height: 400px;
    /* background-color: blueviolet; */
    border-radius: 8px;

}

.locationMap{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.377);
}

@media screen and (max-width: 800px) {
    .contactBox{
        flex-direction: column-reverse;
    }

    .contactInfo{
        width: 90%;
    }

    .contactForm, .contactLocation{
        width: 90%;
        margin: 15px auto;
    
    }
}


@media screen and (max-width: 500px) {
    .contactForm, .contactLocation{
        width: 100%;
        margin: 15px auto;
    }
}