.industriesContainer {
  width: 100%;
  min-height: max-content;
  padding: 15px 120px;
  margin-top: 50px;
  padding-bottom: 80px;
}


.heading{
    padding: 10px 0;
    font-size: 2.2rem;
    font-weight: 500;
    font-family: system-ui;
    color: rgb(65, 65, 124);
}

.heading::first-letter{
    font-size: 2.8rem;
    color: rgb(80, 80, 207);
}

.subtitle {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 2rem;
  padding: 10px 0;
  padding-left: 20px;
}

.sectionTitle {

  font-size: 1.25rem;
  font-weight: 600;
  margin-block: 1.5rem;
  margin-bottom: .5rem;
  color: #222;
}

/* Grid Layout */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

/* Icon Wrapper */
.iconWrapper {
  display: inline-block;
  padding: 0.75rem;
  background-color: #e6fff1;
  color: #28b57e;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* Title */
.title {
  font-size: 1rem;
  font-weight: 500;
  color: #111;
}

.arrow {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #007bff;
  transform: rotate(-45deg); /* Initial state */
  transition: transform 0.3s ease;
}

/* Card Styling */
.card {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 1.5rem;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  /* cursor: pointer; */
  overflow: hidden;
}

/* Hover state */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Animate border from left to right */
.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3.5px;
  width: 0%;
  background-color: #007bff;
  transition: width 0.3s ease;
}

.card:hover::after {
  width: 100%;
}

/* Change title color on hover */
.card:hover .title {
  color: #007bff;
}

/* Rotate arrow on hover */
.card:hover .arrow {
  transform: rotate(0deg);
}



@media (max-width: 800px) {
  .industriesContainer {
    padding: 10px 20px;
    padding-top: 25px;
     padding-bottom: 60px;
  }

  .sectionTitle{
    padding-left: 10px;
  }

  .subtitle{
    line-height: 1.2;
  }

  .cardGrid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: .5rem;
  }

  .card {
    padding: 10px 20px;
  }
}


@media (max-width: 500px) {

    .industriesContainer{
        padding: 10px 5px;
        padding-left: 12px;
        padding-bottom: 50px;
    }

    .heading{
        font-size: 1.4rem;
    }

    .cardGrid{
      padding: 0 10px;
      padding-right: 15px;
    }

    .subtitle{
    line-height: 1.4;
    text-align: justify;
    padding: 0 20px;
  }

  .cardGrid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
  }
}
