@keyframes slideInFromTop {
  0% {
    transform: translateY(-1em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.typingContainer {
  display: flex;
  gap: 2px;
  font-weight: 600;
  overflow: hidden;
  flex-wrap: wrap;
  white-space: pre;
}

.char {
  opacity: 0;
  animation: slideInFromTop 0.4s forwards;
  white-space: pre;
}

.char.space {
  width: 0.5em; /* Adjust space width */
}

